{% extends 'base.html' %}
{% block content %}

<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ product.product_img}}" />
          </a>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ product.title }}
          </h4>
          <div class="d-flex flex-row my-3">
            <span class="text-muted"><i class="fa fa-shopping-basket fa-sm mx-1"></i>{{product.quantity}} orders</span>
            <span class="text-success ms-2">In stock</span>
          </div>
          <div class="mb-3">
            <span class="h5">Rs {{product.price}}</span>
            <span class="text-muted">/per item</span>
          </div>
          <p>
            {{product.description}}
          </p>
          <hr />
          <div class="row mb-4">
            <!-- col.// -->
            <div class="col-md-4 col-6 mb-3">
              <label class="mb-2 d-block">Quantity</label>
              <div class="input-group mb-3" style="width: 170px;">
                <input class="btn btn-white border border-secondary px-3" type="number" id="button-addon1"
                       data-mdb-ripple-color="dark" min="1" value="1"/>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}