{% extends 'base.html' %}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <form action="{% url 'profile_page' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            {% if profile.profile_pic == 'N/A' %}
            <img src="https://i.pinimg.com/736x/3f/94/70/3f9470b34a8e3f526dbdb022f9f19cf7.jpg" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            {% else %}
            <img src="{{ profile.profile_pic }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            {% endif %}
            <h5 class="my-3">{{ profile.user.username }}</h5>
            <div class="d-flex justify-content-center mb-2">
               <div class="form-group">
              <label for="exampleFormControlFile1">Upload image</label>
              <input type="file" name="profile_img" class="form-control-file" id="exampleFormControlFile1">
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <input type="text" name="name" class="form-control" value="{{ profile.user.first_name }} {{ profile.user.last_name }}" disabled/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input type="email" name="email" class="form-control" value="{{ profile.user.email }}" disabled/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <input type="text" name="city" class="form-control" value="{{ profile.city }}"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <input type="text" name="contact" class="form-control" value="{{ profile.contact }}"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <input type="text" name="address" class="form-control" value="{{ profile.address }}"/>
              </div>
            </div>
          </div>
        </div>
              <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}